
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Klee One',
    'Urbanist', sans-serif , 'Segoe UI', 'Open Sans', 'Helvetica Neue'
     'baloo-2' , cursive;
   text-decoration: none;
   list-style: none;
   font-weight: 300;
   box-sizing: border-box;
   outline: none;
  }


  body{
      height: 12000px;
 
  }
  




  .section1 .navBar-btn{
      position: fixed;
      right: 5%;
      top: 6%;
      z-index: 10;
      width: fit-content;
      height: fit-content;
      cursor: pointer;
      transition: all 1s;
  }


  .section1 .navBar-btn  img{
      object-fit: cover;
      width: 56px;
      height: 55px;
      transition: all 1s;

  }

  .section1.change .navBar-btn  img{
    width: 32px;
    height: 31px;
    transform: rotate(-180deg);
  }


  .section1{
      width: 100%;
      height: 100vh;
  }

  .section1 .navbar{
      position: fixed;
      background-color: #1a1a1d;
      top: 0;
      right: 0;
      width: 35%;
      height: 100vh;
      transform: translateX(100%);
      transition: transform 0.5s;
      z-index: 5;
  }

  .section1.change .navbar{
      transform: translateX(0);
  }

  .section1 .navbar nav{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .section1 .navbar nav ul{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
  }

  

  .section1 .navbar nav ul li{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    cursor: pointer;
  }

  .section1 .navbar nav ul li:not(:last-child):hover{
      color:#c3073f ;
  }

  .section1 .navbar nav ul li:last-of-type i:hover{
      color: #c3073f;
  }

 
  .section1 .navbar nav ul .icons{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
  }




  .section1 .header{
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
  }

  .section1 .header .icons{
      position: absolute;
      width: 10%;
      height: 100%;
      right: 10px;
      z-index: 2;
  }

  .section1 .header .icons nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .section1 .header .icons nav ul{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 40%;
  }

  .section1 .header .icons nav ul li i{
    font-size: 20px;
    color: #950740;
    cursor:pointer;
  }

  .section1 .header .img-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1.8);
    animation-name: scale;
    animation-duration: 15s;
    animation-fill-mode: forwards;
  }

  @keyframes scale{
      100%{
          transform: scale(1);
      }
  }

  

  .section1 .header .img-wrapper img{
      object-fit: cover;
      width: 100%;
      height: 100%;
     
  }

  .section1 .header .img-wrapper::before{
    content: "";
    background-color: black;
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
 

  .section1 .header .heading{
      position: absolute;
      left: 5%;
      top: 25%;
      color: white;
  }

  .section1 .header .heading h1{
      font-family: 'baloo-2';
    font-size: 57px;
    letter-spacing: 4px;
    line-height: 1;
    margin-bottom: 25px;
  }

  .section1 .header .heading h1 span{
      display: block;
      color: #c3073f;
      font-weight: 600;
      
  }

  .section1 .header .heading p{
    margin-bottom: 60px;
    width: 335px;
    color: #716d6d;
  }

  .section1 .header .heading a button{
    padding: 13px 60px;
    font-size: 21px;
    background-color: #90052e;
    border: 1px solid #c3073f;
    color: white;
    cursor: pointer;
  }





  .section2{
   width: 100%;
  height: fit-content;
   }


  .section2 .section2-wrapper{
    position: relative;
    width: 100%;
    height: 1296px;
   
}



.section2 .section2-wrapper .header{
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 93px;
}

.section2 .section2-wrapper .header h1{
  font-size: 38px;
  letter-spacing: 1px;
  margin-bottom: 25px;
  color: #90052e;
}

.section2 .section2-wrapper .header p{
  font-size: 20px;
  color: #4e4e50;
}

.section2 .section2-wrapper .img-wrapper{
  position: absolute;
    right: 0;
    top: 596px;
}

.section2 .section2-wrapper .img-wrapper img{
  object-fit: cover;
  width: 500px;
}

.section2 .section2-wrapper .content{
  width: 374px;
}

.section2 .section2-wrapper .one{
  position: absolute;
    top: 336px;
    left: 100px;
  
}

.section2 .section2-wrapper .two{
  position: absolute;
  top: 517px;
  left: 500px;
}

.section2 .section2-wrapper .three{
  position: absolute;
  top: 678px;
  left: 95px;
}


.section2 .section2-wrapper .four{
  position: absolute;
  top: 843px;
  left: 498px;
}


.section2 .section2-wrapper .five{
  position: absolute;
  top: 1011px;
  left: 83px;
}


.section2 .section2-wrapper .sex{
  top: 1125px;
  left: 498px;
  position: absolute;
}



.section2 .section2-wrapper .content i{
  font-size: 32px;
}

.section2 .section2-wrapper .content h2{
    font-size: 25px;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 10px;
}

.section2 .section2-wrapper .content p{
  font-size: 19px;
    margin-bottom: 25px;
    color: #4e4e50;
}

.section2 .section2-wrapper .content h4{
  font-size: 20px;
  color: #90052e;
    cursor: pointer;
  
}

.section2 .section2-wrapper .content h4:hover{
  text-decoration: underline;
}




